@model CNPM1.Models.SanPham

@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<h2>ChiTietSP</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên sản phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayName("Số lượng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "SuaSP","SanPham", new { id = Model.id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Quay về", "XemSP","SanPham", new { @class = "btn btn-primary" })
</p>
